---
const { index, label, class: className } = Astro.props;
---

<div
  class="float-left text-white [&_label]:first:rounded-tl-md [&_label]:last:rounded-tr-md"
>
  <input
    type="radio"
    id={`tab${index}`}
    name="tab-group"
    checked={index == "0"}
    class="peer hidden"
  />
  <label
    for={`tab${index}`}
    class="inline-block cursor-pointer bg-background-800 p-4 pb-10 text-white hover:bg-background-400 hover:text-white peer-checked:border-b-white peer-checked:bg-background-600"
  >
    {label}
  </label>
  <div
    class="absolute bottom-0 left-0 top-16 hidden bg-background-600 p-5 peer-checked:block"
  >
    <div class={className}>
      <slot />
    </div>
  </div>
</div>
