---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Sizzle from "../../components/Sizzle.astro";
import Specials from "../../components/Specials.astro";
import HoursCommon from "../../components/HoursCommon.astro";
import Newletter from "../../components/Newletter.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { wpquery } from "../../data/wordpress";
const data = await wpquery({
  query: `
    query LoadAllPosts {
      posts {
        nodes {
          featuredImage {
            node {
              altText
              mediaItemUrl
              srcSet
              sizes
            }
          }
          date
          slug
          title
          content(format: RENDERED)
          author {
            node {
              name
            }
          }
        }
      }
    }
`,
});
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <!-- <section class="w-full bg-slate-400"> -->
      <!-- {
          data.posts.nodes.map((post: any) => (
            <>
              <div class="flex flex-col">
                <h1>{post.slug}</h1>
                <div class="bg-blue-200">
                  <Fragment set:html={post.content} />
                </div>
              </div>
            </>
          ))
        } -->
      <!-- </section> -->
    </main>
    <Footer />
  </body>
</html>
