---
import Default from "../layouts/Default.astro";
---

<Default>
  <section>
    <div class="bg-background-900 py-6 sm:py-8 lg:py-12">
      <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <!--FAQ Header-->
        <div class="mb-10 md:mb-16">
          <h2
            class="mb-4 text-center text-2xl font-bold text-white md:mb-6 lg:text-3xl"
          >
            Frequently asked questions
          </h2>
        </div>
        <!--End FAQ Header-->
        <div class="mx-auto flex max-w-screen-md flex-col border-t">
          <!-- FAQ Item -->
          <div class="border-b">
            <div
              class="faq-question flex cursor-pointer items-center justify-between bg-background-700 px-4 py-4 text-primary-300 transition-colors duration-300 ease-out hover:bg-background-600"
            >
              <span class="font-semibold">How does the product work?</span>
              <span class="text-primary-300">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 transform transition-transform duration-300 ease-out"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 9l-7 7-7-7"></path>
                </svg>
              </span>
            </div>
            <p
              class="hidden overflow-y-hidden bg-background-800 p-4 text-white transition-all duration-300 ease-out"
            >
              This is a section of some simple filler text, also known as
              placeholder text. It shares some characteristics of a real written
              text but is random or otherwise generated. It may be used to
              display a sample of fonts or generate text for testing.
            </p>
          </div>
          <!-- End FAQ Item -->
          <!-- FAQ Item -->
          <div class="border-b">
            <div
              class="faq-question flex cursor-pointer items-center justify-between bg-background-700 px-4 py-4 text-primary-300 transition-colors duration-300 ease-out hover:bg-background-600"
            >
              <span class="font-semibold">What are the features?</span>
              <span class="text-primary-300">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 transform transition-transform duration-300 ease-out"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 9l-7 7-7-7"></path>
                </svg>
              </span>
            </div>
            <p
              class="hidden overflow-y-hidden bg-background-800 p-4 text-white transition-all duration-300 ease-out"
            >
              This is a section of some simple filler text, also known as
              placeholder text. It shares some characteristics of a real written
              text but is random or otherwise generated. It may be used to
              display a sample of fonts or generate text for testing.
            </p>
          </div>
          <!-- End FAQ Item -->
          <!-- FAQ Item -->
          <div class="border-b">
            <div
              class="faq-question flex cursor-pointer items-center justify-between bg-background-700 px-4 py-4 text-primary-300 transition-colors duration-300 ease-out hover:bg-background-600"
            >
              <span class="font-semibold">What about integrations?</span>
              <span class="text-primary-300">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 transform transition-transform duration-300 ease-out"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 9l-7 7-7-7"></path>
                </svg>
              </span>
            </div>
            <p
              class="hidden overflow-y-hidden bg-background-800 p-4 text-white transition-all duration-300 ease-out"
            >
              This is a section of some simple filler text, also known as
              placeholder text. It shares some characteristics of a real written
              text but is random or otherwise generated. It may be used to
              display a sample of fonts or generate text for testing.
            </p>
          </div>
          <!-- End FAQ Item -->
          <!-- FAQ Item -->
          <div class="border-b">
            <div
              class="faq-question flex cursor-pointer items-center justify-between bg-background-700 px-4 py-4 text-primary-300 transition-colors duration-300 ease-out hover:bg-background-600"
            >
              <span class="font-semibold">Is support available?</span>
              <span class="text-primary-300">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 transform transition-transform duration-300 ease-out"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 9l-7 7-7-7"></path>
                </svg>
              </span>
            </div>
            <p
              class="hidden overflow-y-hidden bg-background-800 p-4 text-white transition-all duration-300 ease-out"
            >
              This is a section of some simple filler text, also known as
              placeholder text. It shares some characteristics of a real written
              text but is random or otherwise generated. It may be used to
              display a sample of fonts or generate text for testing.
            </p>
          </div>
          <!-- End FAQ Item -->
        </div>
      </div>
    </div>
  </section>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const faqQuestions = document.querySelectorAll(".faq-question");
      faqQuestions.forEach((question) => {
        question.addEventListener("click", function () {
          const answer = this.nextElementSibling;
          const icon = this.querySelector("svg");
          if (answer.classList.contains("hidden")) {
            answer.classList.remove("hidden");
            answer.classList.remove("overflow-y-hidden");
            icon.style.transform = "rotate(180deg)";
          } else {
            answer.classList.add("hidden");
            answer.classList.add("overflow-y-hidden");
            icon.style.transform = "rotate(0deg)";
          }
        });
      });
    });
  </script>
</Default>
