---
import MenuCard from "../components/MenuCard.astro";
import Tab from "../components/micro/Tab.astro";
import Default from "../layouts/Default.astro";
import Chart from "../components/chart/index.astro";
---

<Default>
  <div class="grid h-dvh grid-cols-8">
    <div class="relative col-span-6 pt-4">
      <Tab
        totalItems="3"
        index="0"
        label="Specials"
        class="grid h-full grid-cols-2 gap-2 overflow-y-scroll"
      >
        <MenuCard />
        <MenuCard />
        <MenuCard />
        <MenuCard />
      </Tab>
      <Tab
        totalItems="3"
        index="1"
        label="Entres"
        class="grid h-full grid-cols-2 gap-2 overflow-y-scroll"
      >
        <MenuCard />
        <MenuCard />
        <MenuCard />
        <MenuCard />
      </Tab>
      <Tab
        totalItems="3"
        index="2"
        label="Sides"
        class="grid h-full grid-cols-2 gap-2 overflow-y-scroll"
      >
        <MenuCard />
        <MenuCard />
        <MenuCard />
        <MenuCard />
      </Tab>
    </div>
    <div class="col-span-2 overflow-y-scroll">
      <Chart />
    </div>
  </div>
</Default>
