---
import Default from "../layouts/Default.astro";
---

<Default>
  <link
    rel="preload"
    href="https://www.waitlist.me/w/12547731249"
    as="document"
  />
  <div
    class="prose-md prose prose-invert relative mx-auto mt-6 max-w-prose rounded bg-accent-800 px-4 py-8 text-white shadow-2xl shadow-accent-950 prose-li:marker:text-white"
  >
    <h1 class="text-primary-500">Join the Waitlist</h1>
    <!-- <p class="font-bold">Kindly review the following:</p> -->
    <div class="*:tracking-loose list-none pl-4 *:my-3">
      <li>
        <span
          class="inline-block min-w-24 rounded-md bg-slate-800/50 px-2 text-right font-bold text-red-400"
          >Attention:</span
        >
        This is not for making reservations.
      </li>
      <li>
        <span
          class="inline-block min-w-24 rounded-md bg-slate-800/50 px-2 text-right font-bold text-yellow-400"
          >Note:
        </span>
        Please join only when we are full.
      </li>
      <li>
        <span
          class="inline-block min-w-24 rounded-md bg-slate-800/50 px-2 text-right font-bold text-green-400"
          >Procedure:
        </span>
        We'll notify you via text when your table is ready and wait for your complete
        party for 4 minutes. Please ensure all members of your party are present
        to be seated.
      </li>
    </div>
    <iframe
      src="https://www.waitlist.me/w/12547731249"
      class="h-96 w-full rounded-md"></iframe>
    <div>
      <p class="mt-4 pl-4 text-right text-sm italic">
        By clicking
        <span
          class="inline-block rounded-md bg-red-600 px-2 py-1 text-sm text-white outline-none ring-gray-300 focus-visible:ring active:bg-gray-700"
        >
          +Add a Party
        </span>
        <span class="block"> you agree to what is stated above. </span>
      </p>
    </div>
  </div>
</Default>
