---
import Button from "./micro/Button.astro";
let {
  videoUrl = "https://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1&origin=https%3A%2F%2Fkoushinryou.secrist.xyz&widgetid=1",
  videoTitle = "YouTube Developers Live: Embedded Web Player Customization",
} = Astro.props;
---

<div class="mx-auto max-w-screen-2xl bg-background-900 px-4 py-10 md:px-8">
  <div class="mx-4 grid gap-2 sm:grid-cols-1 md:grid-cols-2">
    <div
      class="relative box-border flex h-96 items-end overflow-hidden rounded-lg bg-background-800 shadow-lg"
      id="ytplayer"
    >
      <iframe
        class="h-full w-full rounded-lg"
        id="ytplayer"
        loading="eager"
        allowfullscreen="no"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        title={videoTitle}
        src={videoUrl}
      >
      </iframe>
    </div>
    <div
      class="relative flex min-h-96 flex-col rounded-lg bg-background-800 p-4 shadow-lg"
    >
      <div class="relative flex w-full flex-grow overflow-auto">
        <div class="flex-grow">
          <slot />
        </div>
      </div>
      <div class="relative mt-4 flex w-full flex-row gap-2">
        <Button
          href="menu"
          class="bg-primary-500 hover:bg-primary-600 active:bg-primary-700"
        >
          Menu
        </Button>
        <Button
          href="faq"
          class="bg-accent-500 hover:bg-accent-600 active:bg-accent-700"
        >
          FAQ
        </Button>
      </div>
    </div>
  </div>
</div>
