---
import MenuCard from "./MenuCard.astro";
---

<div
  class="bg-gradient-to-t from-accent-900 from-5% via-accent-800 to-accent-950 to-95% py-4"
>
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <h2
      class="mb-4 text-center text-2xl font-bold text-white md:mb-8 lg:text-3xl xl:mb-12"
    >
      Specials
    </h2>
    <div class="grid gap-4 sm:grid-cols-2 md:grid-cols-3 md:gap-6">
      <MenuCard
        url="images/kotsudonSando.png"
        spiceLevel="0"
        itemPrice="$10.99"
        itemNameEn="Kotsudon Sando"
        itemLikes="10"
      />
      <MenuCard
        url="images/akaMisoSoup.png"
        spiceLevel="0"
        itemPrice="$4.99"
        itemNameEn="Aka Miso Soup"
        itemLikes="5"
      />
      <MenuCard />
    </div>
  </div>
</div>
